<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    {% load static %}
    <link rel = "stylesheet" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <h1>Available tasks</h1>
    {%for task in tasks%}
    <ul>
        
        <li><div class = "item">
            <strong>{{task}}</strong> 
            <br>
            <div>
            <b>Description: </b> {{task.task_description}}</div>
            <br>
            Date: {{task.created_at.date}}
            <br>
            </div>
            <div class = "formbuttons">
            <a href = "{%url 'todo:edit' task.id %}"><button class = "button-3"><div class = "edit">Edit Task</button></a>
            <a href = "{%url 'todo:delete' task.id %}"><button class = "button-3"><div class = "delete">Delete Task</button></a>
            </div>
            </li>
    </ul>
    {% endfor %}
    <div class = "centre-button">
    <a href = "{% url 'todo:get_task_info'%}"><button class = "button-3">Add Task</button></a>
    </div>
</body>
</html>
